<div class="container">
  <div class="panel panel-default">
    <ul class="list-group dashboardUl">
    {{#each data}}
      <li class="list-group-item">
        <div class="row toggle" id="dropdown-detail-{{this.reservation_id}}" data-toggle="detail-{{this.reservation_id}}">
          <div class="col-md-1 col-sm-2 col-xs-3 small">
            <div>{{this.pick_up_date}}</div>
          </div>
          <div class="col-md-2 col-sm-5 col-xs-5">
            <div>Trip# {{this.reservation_code}}</div>
            <div>
              <a href="#reservation/{{this.reservation_code}}">{{this.customer.first_name}} {{this.customer.last_name}}</a>
            </div>
          </div>
          <div class="col-md-4 col-sm-5 small col-xs-4">
            <div class="nowrap">
              <span class="text-bdold text-mudted ldabel ladbel-default">no service data</span>
              <span class="text-muted"> with </span>
              <span class="text-bdold text-mudted labdel ladbel-default">no vehicle data</span>
            </div>
            discuss about airline data
            {{#if this.airline}}
              <div>
                <span class="text-mfuted"><i class="fa fa-plane"> </i>{{this.airline}}</span>
              </div>
            {{/if}}
            <div class="m-t-xs">
            check on booking status
              <span class="label {{#getBookingStatus this.status}}{{/getBookingStatus}}">{{this.status}}</span>
              {{#ifCond this.status '!=' 'Cancelled'}}
                <span class="label {{#getBookingStatus this.trip_status_name}}{{/getBookingStatus}}">
                  {{this.trip_status_name}}
                </span>
              {{/ifCond}}
            </div>
          </div>
          <div class="col-md-4 col-sm-8 small">
            <div class="text-mudted">
              <i class="text-success fa fa-map-marker"></i>
              <!-- show if drop <i class="text-danger fa fa-map-marker"></i> -->
              <!-- show if stop<i class="text-info fa fa-map-marker"></i> -->
              115 Roseville Road, Westport
            </div>
            <div class="text-mudted">
              <!-- show if pickup <i class="text-success fa fa-map-marker"></i> -->
              <i class="text-danger fa fa-map-marker"></i>
              <!-- show if stop<i class="text-info fa fa-map-marker"></i> -->
              LaGuardia Airport
            </div>
            <ul class="nav nav-pills both-clear">
              <li class="m-r-md">
                <i class="fa fa-user"></i> ELKHOU OSAMA  NY ( SUV ) Chev 2015
              </li>
            </ul>
          </div>
          <div class="col-md-1 col-sm-4" >
            <span class="p-t-md total-row">
              <!-- show if payment outstanding -->
              <span class="text-bold">${{this.invoice_total}}</span>
              <!-- if pending <span class="text-bold text-warning">$254.00</span> -->
              <!-- if paid<span class="text-bold text-success">$254.00</span> -->
              <br>
              <span class=""><i class="fa fa-credit-card"></i> </span>
            </span>
          </div>
          <div class="" style="position: absolute;top: 0;right: 0;height: 100%;">
            <i id="dropdownArrow" class="fa fa-chevron-right pull-right" style="top: 38%;position: relative;margin-left: 2px;"></i>
          </div>
        </div>
        <div id="detail-{{this.reservation_id}}">
          <hr></hr>
          <div class="container">
            <div class="fluid-row">
              <div class="col-md-2 col-sm-5 col-xs-5">
                <div>Phone</div>
                <div>{{this.customer.mobile_number}}</div>
              </div>
              <div class="col-md-3 col-sm-6 col-xs-6">
                <div>Email</div>
                <div>{{this.customer.email_id}}</div>
              </div>
              <div class="col-md-2 col-sm-5 col-xs-5">
                <div>Passengers</div>
                <div>{{this.passenger_numbers}}</div>
              </div>
              <div class="col-md-2 col-sm-5 col-xs-5">
                <div>Distance</div>
                <div>calculate at FE?</div>
              </div>
              <div class="col-md-2 col-sm-5 col-xs-5">
                <div>Payment Status</div>
                <div>{{this.invoice_status}}</div>
              </div>
            </div>
          </div>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>