<div class="panel panel-default" style="background:#fff">
  <div class="panel-body">
    <form class="form-horizontal" id="customer-form" >
      <div class="form-group">
        <label for="cusFtName form-control" class="col-sm-3 control-label">Customer Name<b style="color:#a94442;">*</b></label>
        <div class="col-sm-9">
          <input id="custFName" name="custFName" placeholder="First Name" class="form-control col-sm-6" type="text" style="
    width: 45%;"/>
          <input id="custLName" placeholder="Last Name" class="form-control col-sm-6" type="text" style="
    width: 45%; margin-left: 10px;"/>
        </div>
      </div>
      <div class="form-group">
        <label for="custEmail" class="col-sm-3 control-label">Customer Email <b style="color:#a94442;">*</b></label>
        <div class="col-sm-9">
          <input id="custEmail" type="email" placeholder="Email" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label for="custPhone" class="col-sm-3 control-label">Customer Phone <b style="color:#a94442;">*</b></label>
        <div class="col-sm-9">
          <input id="custPhone" name="custPhone" placeholder="Phone Number" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
          <label for="airline" class="col-sm-3 control-label">Flight Info</label>
          <div class="col-sm-9">
            <input id="airline" placeholder="Airline" class="form-control col-sm-6" type="text" style="width: 45%;"/>
            <input id="flightNumber" placeholder="Flight Number" class="form-control col-sm-6" type="text" style="width: 45%; margin-left: 10px;"/>
          </div>
        </div>
        <div class="form-group">
          <label for="specialNote" class="col-sm-3 control-label">Special Notes</label>
          <div class="col-sm-9">
            <textarea  id="specialNote" placeholder="Additional Info" class="form-control col-sm-12" type="text" style="width: 45%;"></textarea>
            
          </div>
        </div>
      <div class="form-group" style="padding-left: 42px;">
        <label class="radio-inline ">
          <input type="radio" class="passenger-type" name="inlineRadioOptions" id="passenger-type-1" value="option1" checked="checked"> I am the passenger
        </label>
        <label class="radio-inline">
          <input type="radio" class="passenger-type" name="inlineRadioOptions" id="passenger-type-2" value="option2"> I am not the passenger
        </label>
        <label class="radio-inline hide">
          <button id="add-passanger-btn" class="btn btn-primary" style="float: right;margin-top: 20px; display:none;">Add Passenger</button>
        </label>
      </div>
      <div id="passenger-container">
      </div>
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Trip on : {{pickup_date}}
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Rate details for {{vehicle_name}}</li>
                <li class="list-group-item">
                  Base distance based rate
                  <span class="label label-default pull-right">${{base_rate_item.amount}}</span>
                </li>
                {{#optional_fixed_rate_items}}
                  <li class="list-group-item">
                    <input type="checkbox" id="addon-{{addon_id}}" name="optional_rate"/>
                    <label class="control-label">{{addon_name}}</label> 
                    <span class="label label-default pull-right">${{amount}}</span>
                  </li>
                {{/optional_fixed_rate_items}}
                {{#incremental_rate_items}}
                  <li class="list-group-item">
                    <select id="addon-{{addon_id}}">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                    <label class="control-label">{{addon_name}}</label> 
                    <span class="label label-default pull-right">${{incremental_amount}}</span>
                  </li>
                {{/incremental_rate_items}}
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default {{^return_pickup_date}}hide{{/return_pickup_date}}">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
               Trip on : {{return_pickup_date}}
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">Rate details for {{returnCarResult.vehicle_name}}</li>
                <li class="list-group-item">
                  Base distance based rate
                  <span class="label label-default pull-right">${{returnCarResult.base_rate_item.amount}}</span>
                </li>
                {{#returnCarResult.optional_fixed_rate_items}}
                  <li class="list-group-item">
                    <input type="checkbox" id="addon-{{addon_id}}" />
                    <label class="control-label">{{addon_name}}</label> 
                    <span class="label label-default pull-right">${{amount}}</span>
                  </li>
                {{/returnCarResult.optional_fixed_rate_items}}
                {{#returnCarResult.incremental_rate_items}}
                  <li class="list-group-item">
                    <select id="addon-{{returnCarResult.addon_id}}">
                      <option>0</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                    <label class="control-label">{{returnCarResult.addon_name}}</label> 
                    <span class="label label-default pull-right">${{returnCarResult.incremental_amount}}</span>
                  </li>
                {{/returnCarResult.incremental_rate_items}}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <button class="btn btn-primary pull-right" id="continue-booking">Confirm Reservation</button>
    </form>
  </div>
</div>
