<div class="row row-offcanvas row-offcanvas-right" style="margin-top:20px;">
  <div class="col-xs-12 col-sm-7" style="margin-right:20px;">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>
    <div class="row ">
      <div class="btn-group btn-breadcrumb">
        <a href="#" class="btn btn-primary col-xs-1"><i class="glyphicon glyphicon-home"></i></a>
        <label id="car-details-breadcrumb"  class="btn btn-success col-xs-4 auto-cursor" >CAR DETAILS</label>
        <label id="request-details-breadcrumb" class="btn btn-info col-xs-4 auto-cursor" >REQUEST DETAILS</label>
        <label id="confirm-breadcrumb" class="btn btn-info col-xs-3 auto-cursor" >CONFIRM</label>
      </div>
    </div><!--/row-->
    <div class="row" id="requestContainer">
      <div style="padding-bottom:10px;">Select a vehicle below to book your reservation</div>
      {{#each this}}
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-md-3">
              <img src="{{image_url}}" width="174" height="120">
            </div> 
            <div class="col-md-9" >
              <ul> 
                <li style="border: #fff solid;padding:0px;" class="list-group-item unstyled"><h4>{{vehicle_name}}</h4></li>
                <li style="border: #fff solid;padding:0px;" class="list-group-item unstyled"><p>{{vehicle_description}}</p></li>
                <li style="border: #fff solid;padding:0px;" class="list-group-item unstyled">
                  <h3>${{base_rate_item.amount}}</h3> 
                </li>
                <button class="btn btn-primary pull-right reserve-now" vehicle_type_id="{{vehicle_type_id}}">Reserve Now</button>
              </ul>
            </div>
          </div>
        </div>
      {{/each}}
        <div class="panel panel-default">
          <div class="panel-body">
            &nbsp;
          </div>
        </div>
      </div><!--/row-->
  </div><!--/.col-xs-12.col-sm-9-->

  <div class="col-xs-6 col-sm-4 sidebar-offcanvas sidebar-summary" >
    <div class="panel panel-default">
      <div class="panel-body" id="requestSummary">
        &nbsp;
      </div>
    </div>
  </div><!--/.sidebar-offcanvas-->
</div>