<div class="row">
  <div class="col-xs-12 col-sm-12">
    <a href="#" class="btn btn-default">New Request</a>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12" style="padding-top:10px">
    <h3><span class="label label-info">Request Summary</span></h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-6">
    <label>Service</label>
  </div>
  <div class="col-xs-4 col-sm-6">
    <label>{{service_name}}</label>
  </div>
</div>
<hr width="100%" style="margin-top:5px;margin-bottom:5px;"\>
<div class="row">
  <div class="col-xs-8 col-sm-6">
    <label>Passengers</label>
  </div>
  <div class="col-xs-4 col-sm-6">
    <label>{{num_of_passenger}}</label>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-12">
    <h3><span class="label label-info">Trip Information</span></h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-8 col-sm-6">
    <label>Pickup time</label>
  </div>
  <div class="col-xs-4 col-sm-6">
    <label>{{pickup_date}}</label>
  </div>
</div>
<hr width="100%" style="margin-top:5px;margin-bottom:5px;"\>
<div class="row">
  <div class="col-xs-8 col-sm-6">
    <label>Pickup Location</label>
  </div>
  <div class="col-xs-4 col-sm-6">
    <label>{{pickup_location}}</label>
  </div>
</div>
<hr width="100%" style="margin-top:5px;margin-bottom:5px;"\>
<div class="row">
  <div class="col-xs-8 col-sm-6">
    <label>Dropoff Location</label>
  </div>
  <div class="col-xs-4 col-sm-6">
    <label>{{dropoff_location}}</label>
  </div>
</div>
<hr width="100%" style="margin-top:5px;margin-bottom:5px;"\>